/*.btn {
  *background:#f6941d;
}*/

.nav li a.disabled {
  background-color: #aaa !important;
  color: #333 !important;
  cursor: not-allowed !important;
  border-color: #aaa !important;
}

.grey_text{
  color:silver;
  color:rgba(0,0,0,0.2);
}

.grey_disabled, .grey_disabled:hover{
  background-color:#eee;
  opacity:1;
  color:silver;
  color:rgba(0,0,0,0.2);
  cursor:no-drop;
  border:1px solid #ccc;
}

.fade_disabled, .fade_disabled:hover, .fade_disabled:focus, .fade_disabled:active, .fade_disabled:hover:active, .fade_disabled:hover:focus{
  opacity:0.5;
  color:rgb(255,255,255);
  color:rgba(255,255,255,0.2);
  cursor:no-drop;
  border:1px solid #ccc;
}

.grey_button .btn{
  background-color:lightgray;
}

.flex-baseline {
  display:flex;
  align-items:baseline;
}

.inline_top{
  display:inline-block;
  vertical-align:top;
}

.inline-wrapper-1 {
  width:100%;
}

.inline-wrapper-1 > div {
  display:inline-block;
}

/* Mask */
.loading-mask {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   background-color: rgba(255, 255, 255, 0.75);
   z-index: 9999;
   text-align: center;
}

/* Tooltips */
.info-right {
  color:deepskyblue;
  margin-left:3px;
}

.nav > li > .tooltip {
  min-width:150px;
}

.tooltip-wrapper {
  display:inline-block;
}

.tooltip-wrapper .btn[disabled] {
  pointer-events: none;
}

.tooltip-wrapper.disabled {
  cursor: not-allowed;
}

.collapse_page .panel-heading{
  font-weight:bold;
  text-align:center;
}

.error .btn, .error .form-control, .error-upload .input-group{
  animation: error 0.2s linear;
  animation-fill-mode: forwards;
}

.error-textcolor .btn, .error .form-control, .error-upload .input-group{
  animation: redtext 0.2s linear;
  animation-fill-mode: forwards;
}

.attention .selectize-input, .attention .form-control, .attention-upload .input-group, .attention .btn-group-container-sw{
  animation: attention 0.2s linear;
  animation-fill-mode: forwards;
}

.redoutline {
  animation: error 0.2s linear;
  animation-fill-mode: forwards;
}

.blueoutline {
  animation: attention 0.2s linear;
  animation-fill-mode: forwards;
}

.pulse_blue {
  animation: clicked_blue 0.6s ease-out;
  animation-fill-mode:both;
}

.pulse_green {
  animation: clicked_green 0.6s ease-out;
  animation-fill-mode:both;
}

.pulse_bow {
  animation: clicked_bow 0.6s ease-out;
  animation-fill-mode:both;
}

.fadein-out {
  animation: fadein-out 0.8s ease-out;
  animation-iteration-count:infinite;
  animation-fill-mode:both;
  animation-direction:alternate;
}

@keyframes clicked_bow {
  0%   {box-shadow: 0 0 0 0 rgba(0,191,255,1); margin-top:0px;}
  25%  {box-shadow: 0 0 1px 2px rgba(0,191,255,0.5); margin-top:2px;}
  50%  {box-shadow: 0 0 1px 5px rgba(0,191,255,0); margin-top:5px;}
  75%  {box-shadow: 0 0 1px 2px rgba(0,191,255,0.5); margin-top:2px;}
  100% {box-shadow: 0 0 0 0 rgba(0,191,255,1); margin-top:0px;}
}

@keyframes clicked_blue{
  from{box-shadow: 0 0 0 0 rgba(0,191,255,1);}
  to{box-shadow: 0 0 1px 5px rgba(0,191,255,0);}
}

@keyframes clicked_green{
  from{box-shadow: 0 0 0 0 rgba(0,255,191,1);}
  to{box-shadow: 0 0 1px 5px rgba(0,255,191,0);}
}

@keyframes redtext{
  from{
    color:red;
    color:rgba(255,0,0,0);
  }
  to{
    color:red;
    color:rgba(255,0,0,1);
  }
}

@keyframes error{
  from{box-shadow: 0 0 0 0 rgba(255,0,0,0);}
  to{box-shadow: 0 0 1px 3px rgba(255,0,0,1);}
}
@keyframes attention {
  from{box-shadow: 0 0 0 0 rgba(0,191,255,0);}
  to{box-shadow: 0 0 1px 3px rgba(0,191,255,1);}
}

@keyframes fadein-out{
  from{
    opacity: 0.4;
  }
  to{
    opacity: 1;
  }
}
